.faq-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;

}

.faq-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: monospace;
    color: #ffffff;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.faq-item {
    background: transparent;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0px 12px 3px rgba(16, 196, 199, 0.637);
    overflow: hidden;
}

.faq-item:hover {
    box-shadow: 0 8px 20px rgba(26, 178, 221, 0.15);
}

.faq-item.active {
    color: aqua;
    box-shadow: 0 12px 25px rgba(26, 178, 221, 0.5);
}

.faq-question {
    font-weight: 600;
    color: #fff;
    font-family: monospace;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s ease;
}

.faq-toggle {
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.faq-item.active .faq-toggle {
    transform: rotate(45deg);
    /* + turns into x */
}

.faq-answer {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    font-family: monospace;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.1rem;
    color: #ffffff;
    transition: all 0.4s ease;
}

.faq-item.active .faq-answer {
    max-height: 500px;
    /* enough to fit the content */
    opacity: 1;
    margin-top: 10px;
}

/* Responsive */
@media (max-width: 600px) {
    .faq-wrapper {
        padding: 20px 10px;
    }
}